
body
{
	background-image:linear-gradient(to left, white 0%, #808080 100%);
	margin: 0;	
}

li
{
	margin-bottom: 10px;
}


.right
{
	float: right;
}
.left
{
	float: left;
}




}
#projekt
{
	width: 100%;
}

#naglowek
{
	background-color:black;
	height: 20%;
	width: 100%;
	text-align: center;
	color:white;
	margin: 0;

	
}
.logo
{
	width: 100%;
}

#lewa
{
  position:fixed;
 margin-top:3%;
 height: auto;
 float: left;
 margin-left: 5%;
 width: 17%;
 border-style: solid;
 border-radius: 10px;
 background-image:linear-gradient(to left, white 0%, #808080 100%);
 

}

#prawa
{
background-image:linear-gradient(to left, white 0%, #808080 100%);
	margin-top: 3%;
	height: auto;
	float: right;
	width: 65%;
	
	border-style: solid;
	margin-right: 5%;
	

}
#stopka
{
	margin-left: 0;
	width: 100%;
	height: 20px;
	clear: both;
	border-top: double;
	border-size: 1px;


	
}
#animacja
{
	position: relative;
	animation: animacja 30s infinite;
}

.intro
{   font-family: 'Century Gothic';
	font-size: 100px;
}
.menu
{
	font-size: 25px;
	font-family: 'Century Gothic';
		
}
.menu2
{
	font-family: 'Century Gothic';
	font-size: 17px;
	
}
.tekst
{
 font-family: 'Century Gothic';
 font-size: 15px;
}
.nag
{
	font-family: 'Century Gothic';
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;

}
.wybor
{

  font-size: 40px;
  text-align: center;
  font-family: 'Century Gothic';
  }
 .nazwa
 {
 	font-size: 40px;
 	font-weight: bold;
 	 font-family: 'Century Gothic';
 }
 .maly
 {
 	font-size: 20px;
 	margin-left: 5px;
 	margin-right: 5px;
 }
 form
 {
 	text-align: center;
 	font-family: 'Century Gothic';
 	font-size: 20px;
 }
 a
 {
  color:black;
  text-decoration:none;
  

 }
 a:hover
 {
 	color: red;
 }
ol a
{
  color:black;
  text-decoration:none;
  text-align: center;

}
ol{
	list-style-type: none;
}
ol > li > ul
{
	display: none;
	list-style-type: none;
	text-align: left;

}
ol > li:hover > ul
{
	display: inline;
}
ol > li:hover > span >a
{
	color: #ff0000;
}
ol > li:hover > ul > li:hover > span > a
{
	color: #ff0000;
}
ol > li > ul >span >a{
	font-size: 20px;
}


@keyframes animacja
{
	0% {left: 0px;}
	50%{left:90%}
	100%{left: 0px;}

}
@-webkit-keyframes svg {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#svg:hover
{
	-webkit-animation:svg 5s infinite;

}

table, tr, td
{
	border-collapse: collapse;
	border-style: solid;
	border-width: 5px;
	border-color: black;


}
 tr:first-child 
{
	font-weight: bold;
	background-color: #e99e73;
	font-size: 20px;
}
tr{
	background-color: white;
	text-align: center;
}
.powiekszanie img:hover{
   
    transform: scale(2.5, 2.5);
    transition-duration: 1s;
   
}
.srodek
{
	text-align: center;
}
